.container-services {
    background-image: url('/images/desktop/backgrounds/desktop_bg_main_right.jpg');
    background-attachment: fixed;
    background-position: center right;
    background-size: cover;
    margin: auto;
    height: 100vh;
    max-width: 100vw;
    padding-top: 10rem;
  }

