@inherits AudioPlayerBase


@if (soundtracks.Count <= 0)
{
  <p>Loading Tracks...</p>
}
else
{
  <div class="scrollable">
    <table class="table table-borderless table-hover table-responsive table-sm" >
      <thead>
        <tr>
          <th>
            Img
          </th>
          <th>
            Name
          </th>
          <th>
            Tag
          </th>
        </tr>
      </thead>
      <tbody>
        @foreach (var soundtrack in soundtracks)
        {
          <tr>
            <td>
              <img src=@soundtrack.ThumbnailPath 
                class="img-fluid" style="width: 10%;"
              >
            </td>
            <td>
              @soundtrack.Name
            </td>
            <td>
              @soundtrack.MusicalTags
            </td>
            <td>
              <a class="btn btn-sm btn-secondary"
                @onclick="@((args) => PlaySoundtrack(soundtrack))">
                Play
              </a>
              <a class="btn btn-sm btn-danger" 
                @onclick="@((args) => StopSoundtrack(soundtrack))">
                Stop
              </a>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}