
  <div class="container-fluid container-landingpage">
    <div class="row">
      <div class="col-sm">
        <p class="text-dark">Test</p>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>