@inject IAudioPlayer player
@inject IJSRuntime jsRuntime
@inherits VideoPlayerBase



@if (string.IsNullOrEmpty(VideoPath))
{
  <h3>Your Videopath is null or empty! Pls enter a valid path</h3>
}
else
{
  <video controls class="@PlayerClass"
    id=@VideoPlayerRef.Id
    @ref="VideoPlayerRef"
    @onplay="OnVideoPlay" 
    @onstop="OnVideoPause"
    @onpause="OnVideoPause">
      <source src=@VideoPath type="video/mp4">
      Your browser does not support HTML5 video.
  </video>
}



