@using BlazorComponents.Components.AudioPlayer
@using BlazorComponents.Components.LandingPage
@using BlazorComponents.Components.Services
@using BlazorComponents.Components.Portfolio
@using BlazorComponents.Components.VideoPlayerModal

@page "/"

<PageTitle>Home</PageTitle>



<div>

  <LandingPage></LandingPage>

  <Services></Services>

  <VideoPlayerModal></VideoPlayerModal>


  @* === Widgets ============================================= *@

  <AudioPlayer></AudioPlayer>

</div>



