@using BlazorComponents.Components.AudioPlayer
@using BlazorComponents.Components.LandingPage
@using BlazorComponents.Components.Services
@using BlazorComponents.Components.Portfolio

@page "/"

<PageTitle>Home</PageTitle>


<div>

  <LandingPage></LandingPage>

  <Services></Services>


  @* === Widgets ============================================= *@

  <AudioPlayer></AudioPlayer>

</div>

