@page "/"

<PageTitle>Home</PageTitle>


<div class="index-background">

@* === Welcome ================================================== *@
  <div class="container-fluid container-welcome">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

@* === Services ================================================== *@

  <div class="container container-services">
    <div class="row">
      
      <div class="col-sm d-flex">
        <div class="container">
            <h3 class="text-center">Test</h3>
            <h3 class="text-center">Mit Kot</h3>
            <h3 class="text-center">Auf Brot</h3>
        </div>
      </div>
      
      <div class="col-sm d-flex">
        <div class="container align-items-center justify-content-center">
            <h3 class="text-center">Test</h3>
            <h3 class="text-center">Mit Kot</h3>
            <h3 class="text-center">Auf Brot</h3>
        </div>
      </div>

      <div class="col-sm d-flex">
        <div class="container align-items-center justify-content-center">
            <h3 class="text-center">Test</h3>
            <h3 class="text-center">Mit Kot</h3>
            <h3 class="text-center">Auf Brot</h3>
        </div>
      </div>

      <div class="my-spacing-5"></div>
    </div>
  </div>

  @* <h1>Hello, world! test</h1>

  Welcome to your new app.

  <SurveyPrompt Title="How is Blazor working for you?" /> *@

</div>

@code{

}

