@using BlazorComponents.Components.AudioPlayer
@using BlazorComponents.Components.LandingPage
@using BlazorComponents.Components.Services
@using BlazorComponents.Components.Portfolio
@using BlazorAudioPlayerLib.Components.VideoPlayer

@page "/"

<PageTitle>Home</PageTitle>



<div>

  <LandingPage></LandingPage>

  <Services></Services>


  <VideoPlayer Class="w-100" VideoPath="videos/aoi_soundImplementation.mp4"></VideoPlayer>
  <VideoPlayer Class="w-100" VideoPath="videos/aoi_soundImplementation.mp4"></VideoPlayer>

  @* === Widgets ============================================= *@

  <AudioPlayer></AudioPlayer>

</div>

