  /* === Container ================================= */
  .container-background {
    --bs-dark-rgb: 0, 0, 0;
    --bs-bg-opacity: 0;
  
    background: linear-gradient(to bottom, var(--my-main-color-rgb), rgba(0,0,0,0));
    transition: all 0.5s;
    opacity: 1;
  }

/* DICKES FUNZT NET */
  .container-audioplayer * {
    opacity: 1;
  }

  /* === RoundButton ================================= */
  .round-button {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 9998;
  
    width: 10vw;
    height: 10vw;
    background-color: #592741;
    color: #fff;
    border-radius: 50%;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
  }
  
  .round-button:hover {
    color: #fff;
    background-color: #4c2035;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  }
  
  .round-button:focus {
    outline: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15), 0px 0px 0px 2px #592741;
  }
  
  .round-button[aria-expanded="true"] {
    display: none;
  }